{% extends 'base.html.twig' %}

{% block title %}Ajout d'un mouvement{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Ajout d'un mouvement</h1>

            {{ form_start(movementForm) }}

        
            {# <pre>
                {{ dump(movementForm) }}
            </pre> #}

                <fieldset class="mb-3">
                    <legend>Mon mouvement</legend>
                    {{ form_row(movementForm.movement) }}
                    {{ form_row(movementForm.place) }}
                    {{ form_row(movementForm.date) }}
                    {# {{ form_row(movementForm.user_id) }} #}

                </fieldset>


                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(movementForm) }}        
        </div>
    </div>
</section>

{% endblock %}
