{% extends 'base.html.twig' %}

{% block title %}Ajout d'un mouvement{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Ajout d'une Dépense</h1>

            {# {{ dump(app) }} #}

            {{ form_start(movementForm) }}

                {# {{ dump(movementForm) }} #}

                <fieldset class="mb-3">
                    <legend>Ma dépense</legend>

                    {{ form_row(movementForm.movement) }}
                    {{ form_row(movementForm.place) }}
                    {{ form_row(movementForm.date) }}
                    {# {{ form_row(movementForm.user_id) }} #}

                </fieldset>
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(movementForm) }}        
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}